<h1 align="center">{{subject.name}} - id: {{subject.id}}</h1>

<div class="panel panel-default">
  <div class="panel-heading">Tasks</div>
  <div class="panel-body">
    <div class="list-group">
      <a href="#/tasks/{{task.id}}" class="list-group-item list-group-item-info" ng-repeat="task in tasks">{{task.title}}</a>
    </div>
  </div>
</div>

<button class="btn btn-success" ng-click="openNewTaskPanel()">Add new task</button>

<!-- Modal -->
<div id="newTaskModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">

        <div class="col-sm12 centered-text">
          <form>
            <div class = "form-group">
              <label>Task topic</label>
              <input type = "text" class = "form-control" ng-model="taskTopic" placeholder = "Enter task topic">
            </div>
            <textarea class = "form-control" rows = "3" ng-model="description"></textarea>
          </form>
          <div class="dropzone-box" id='drop_zone'>
              <form action="http://brightscreentv.net/WAYW/PHP/uploads.php" class='dropzone' id='file-dropzone'></form>
          </div>
          <button ng-show="fileAdded" class="btn btn-success" ng-click="removeFile()">Remove file</button>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Add</button>
      </div>
    </div>

  </div>
</div>
