<h1>{{subject.name}}</h1>
<h3>{{task.title}}</h3>

<table class="table">
	<thead>
		<tr>
			<th>Submit time</th>
			<th>Compilation success</th>
			<th>Execution time</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="solution in userSolutions">
			<td>{{solution.created_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
			<td>{{solution.compilation_successful}}</td>
			<td>{{solution.compilation_successful ? solution.execution_time : '-'}}</td>
		</tr>
	</tbody>
</table>


<button class="btn btn-success" ng-click="openNewSolutionPanel()">Add new solution</button>

<!-- Modal -->
<div id="newSolutionModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New solution</h4>
      </div>
      <div class="modal-body">

        <div class="col-sm12 centered-text">
          <form name="solutionForm">
            <div class = "form-group">
	            <input type="file" file-model="file" required/>
            </div>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" data-dismiss="modal"
        ng-click="uploadFile()" ng-disabled="solutionForm.$invalid">Add</button>
      </div>
    </div>

  </div>
</div>


<h3>Ranking</h3>
<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Author</th>
            <th>Compilation success</th>
            <th>Execution time</th>
            <th>Submit time</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="solution in bestSolutions | orderBy: ['-compilationSuccess', 'executionTime', 'createdAt']" ng-class="{'success': (solution.author == user.id)}">
			<td>{{$index + 1}}</td>
			<td>{{solution.author}}</td>
            <td>{{solution.compilationSuccess}}</td>
			<td>{{solution.compilationSuccess ? solution.executionTime : '-'}}</td>
			<td>{{solution.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
		</tr>
	</tbody>
</table>